
:root {
    --background-color: black;
    --foreground-color: white;
}

html, body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);

    -webkit-touch-callout: none; /* Safari */
    -webkit-user-select: none; /* Chrome */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

#map {
    background-color: transparent;
    border-spacing: 0.3em;
    z-index: 2;
}

#pointer {
    margin: 0;
    position: absolute;
    z-index: 1;
}

td {
    background-color: transparent;
}

.field {
    background-color: white;
    border-radius: 100%;
    text-align: center;
}

.invisible {
    background-color: transparent;
}

@keyframes fade-in {
    0% {
        background-color: var(--background-color);
    }

    100% {
        background-color: var(--foreground-color);
    }
}

@keyframes fade-out {
    0% {
        background-color: var(--foreground-color);
    }

    100% {
        background-color: var(--background-color);
    }
}
